<p>add-personaje works!</p>
<div class="container mt-4">
  <form (ngSubmit) = "agregar()">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre del Personaje</label>
      <input [(ngModel)] = "nuevo.nombre" type="text" id="nombre" class="form-control" placeholder="Escribe el nombre" name="nombre" required>
    </div>
    <div class="mb-3">
      <label for="poder" class="form-label">Poder del Personaje</label>
      <input [(ngModel)] = "nuevo.poder" type="text" id="nombre" class="form-control" placeholder="Escribe el poder" name="poder" required>
    </div>
    <button type="submit" class="btn btn-primary">Agregar</button>
  </form>
</div>
