<p>add-personaje works!</p>
<div class="container mt-4">
  <h3>Agregar Personaje</h3>
  <form>
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre del Personaje</label>
      <input type="text" id="nombre" class="form-control" placeholder="Escribe el nombre">
    </div>
    <div class="mb-3">
      <label for="fuerza" class="form-label">Fuerza del Personaje</label>
      <input type="number" id="fuerza" class="form-control" placeholder="Escribe la fuerza">
    </div>
    <button type="button" class="btn btn-primary">Agregar</button>
  </form>
</div>
